.favoritesContainer{
  display: flex;
   justify-content:space-evenly;
   flex-direction:row ;
   flex-wrap: wrap;
}

.favoriteCard{
  
   border-radius: 1em;
   width: 320px;
   height: fit-content;
   background-color: #2ae9c9bb;
   overflow: hidden;
   margin: 1em;
}

.favoriteCard img{
  width: 100%; 
}

.favoriteCard p{
  color: rgba(25, 25, 25, 0.694); 
}

.favName{
  color: #d6dc37eb ;
   font-family: 'Cafe Francoise';
   font-size: 1.4em;
   margin:0em;
}