.imgFavoritetitle{
  margin-top: 2em;
  width: 500px;
}

.favoritesContainer{
  display: flex;
   justify-content:space-evenly;
   flex-direction:row ;
   flex-wrap: wrap;
}

.favoriteCard{
   border-radius: .5em;
   width: 200px;
   height: fit-content;
   background-color: white;
   overflow: hidden;
   margin: 1em;
   border:solid white 15px;
}

.favoriteCard img{
  width: 100%; 
}

.favoriteCard p{
  color: rgba(25, 25, 25, 0.694); 
}

.favName{
  color: #272727eb ;
   font-family: 'Cafe Francoise';
   font-size: 1.4em;
   margin:0em;
}