div{
  margin-bottom:.8em;
}


button{
   background-color: #ccc908;
   width: 80px;
   border-radius:.4em;
   box-shadow: 0 3px 3px 0 #10b7323d, 0 17px 50px 0 rgba(0,0,0,0.19);
   margin-bottom:.5em;
   margin-left:1em;
   font-family:'Anonymous Pro';
   padding:.5em;}


input{
   width: 200px;
   height: 2em;
   border-radius:.4em;
   background-color: #efef91 ;
  }