

.detailBox{
  background-color: rgba(68, 204, 159, 0.803);
  border: rgba(255, 255, 255, 0.814) solid 7px;
  border-radius: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-right: 3em;
  
}

.detailImgBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:500px;
  height: 500px;
  border-radius: 30em;
  background-repeat: no-repeat;
  margin-right: 1em;
}

.detailCharacterName{
  font-family: 'Cafe Francoise';
  font-size: 2.5em;
  margin: 0px;
  color: rgb(120, 192, 25);
  text-shadow: 0 1px 0 #ccc, 
  0 2px 0 #6f900b,
  0 3px 0 rgb(57, 184, 28),
  0 4px 0 #26510e,
  0 5px 0 rgb(8, 81, 15),
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

.detailImg{
  width:350px;
  margin-top: 1em;
  border-radius: 40em;
}


.detailCharacterName:hover
{
  cursor: cell;
transform: scale(1.1);
 transition: transform  1s;
}


.infoTitle{
  font-family: 'Cafe Francoise';
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}

.detailTxt{
 
  font-weight: 600;
  padding: .3em;
  background-color: rgb(199, 216, 195);
  border-radius: .5em;
  margin-bottom: 2em ;
}



