

.detailBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top: 1em;
  padding-right: 3em; */
  
}

.detailImgBox{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3em;
  margin-top: 3em;
  width: 350px;
  border:white solid 15px;
  background-color: white;
}

.detailImg{
  width:100%;
}

.detailCharacterName{
  font-family: 'Cafe Francoise';
  font-size: 1.5em;
  margin: 0px;
  color: rgb(16, 16, 16);
}



.detailCharacterName:hover
{
  cursor: cell;
transform: scale(1.1);
 transition: transform  1s;
}


.infoTitle{
  font-family: 'Cafe Francoise';
  color: aliceblue;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.detailTxt{
  font-weight: 600;
  padding: .5em;
  background-color: rgb(199, 216, 195);
  border-radius: .5em;
  margin-bottom: 2em ;
}



