

.detailBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.detailImgBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:500px;
  height: 500px;
  border-radius: 30em;
  background-repeat: no-repeat;
  margin-right: 1em;
}

.detailCharacterName{
  font-family: 'Cafe Francoise';
  font-size: 2.5em;
  margin: 0px;
  color: aliceblue;
}

.detailImg{
  width:350px;
  margin-top: 1em;
  border-radius: 40em;
}


.detailCharacterName:hover
{
  cursor: cell;
transform: scale(1.1);
 transition: transform  1s;
}


.infoTitle{
  font-family: 'Cafe Francoise';
  color: aliceblue;
}

.detailTxt{
  font-weight: 600;
  padding: .3em;
  background-color: rgb(199, 216, 195);
  border-radius: .5em;
  margin-bottom: 2em ;
}



