

.divCard {
   box-shadow: 0 8px 16px 0 #17ff0f33, 0 6px 20px 0 rgba(0,0,0,0.19); 
   border-radius: 2em;
   width: 320px;
   height: 550px;
   background-color: #dff251ee;
   box-shadow: 0px 0px 8px rgb(8, 241, 86);
   margin: 1em;
   overflow: hidden;
}



.divCard:hover{
   transform: scale(1.1);
   background-color: #28dbc0;
  transition: transform  1s;
  transition: background-color 2s;
  
}

.botonDelete{
   background-color: #54ea60;
   width:35px;
   height: 30px;
   border-radius:.4em;
   box-shadow: 0 3px 3px 0 #10b7323d, 0 17px 50px 0 rgba(0,0,0,0.19);
   margin-bottom:.3em;
   margin-top: 1em;
   }

   .btnFavorite{
      background-color: #ea549d;
      width:35px;
      height: 30px;
      border-radius:.4em;
      box-shadow: 0 3px 3px 0 #10b7323d, 0 17px 50px 0 rgba(0,0,0,0.19);
      margin-bottom:.3em;
      margin-top: 1em;
      margin-right: .5em;
   }

.characterImg {
   border: white 1px;
   width: 100%;
   margin-bottom:.6em;}


.characterName {
   color: #142a05 ;
   font-family: 'Cafe Francoise';
   font-size: 1.7em;
   margin:0em;}

   .characterName:hover{
   transform: scale(1.1);
  
  transition: transform  1s;
  transition:  color 2s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
  cursor: cell;
   }

.characterInfo {
   display:flex;
   flex-direction: row;
   justify-content:center;
   font-family: 'IBM Plex Mono';
  font-weight: 600;
   margin:auto;
   color: #4b4a4a ;
   font-size: .9em;
}