

.divCard { 
   border-radius: 2em;
   width: 320px;
   height: 500px;
   background-color: #dff251ee;
   margin: 1em;
   overflow: hidden;
}



.divCard:hover{
   transform: scale(1.1);
   background-color: #28dbc0;
  transition: transform  1s;
  transition: background-color 2s;
  
}

.divCard p{
   color:#2e2d2d;
   font-weight: 600;
   font-size: 1em;
}

.botonDelete{
   background-color: #54ea60;
   width:35px;
   height: 30px;
   border-radius:.4em;
   
   margin-bottom:.3em;
   margin-top: 1em;
   }

   .btnFavorite{
      background-color: #f9b5e2;
      width:35px;
      height: 30px;
      border-radius:.4em;
      margin-bottom:.3em;
      margin-top: 1em;
      margin-right: .5em;
   }

   .btnFavorite:visited{
      background-color: #040404;
   }

.characterImg {
   border: white 1px;
   width: 100%;
   margin-bottom:.6em;}


.characterName {
   color: #142a05 ;
   font-family: 'Cafe Francoise';
   font-size: 1.7em;
   margin:0em;}

   .characterName:hover{
   transform: scale(1.1);
  
  transition: transform  1s;
  transition:  color 2s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
  cursor: cell;
   }

